<TABLE border="1">
  <% @cat.attributes.each do |a, val| %>
    <TR><TH><%= a %><TD><%= val %>
  <% end %>
</TABLE>

<%= link_to "Edit cat!", edit_cat_url %>

<TABLE border="1">
  <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
    <TR><TH><%= request.start_date %><TD><%= request.end_date %>
      <% if request.status == 'PENDING' %>
        <TD><%= button_to "Approve!", approve_cat_rental_request_url(request) %>
          <TD><%= button_to "Deny!", deny_cat_rental_request_url(request) %>
            <% else %>
            <TD><%= request.status %>
          <% end %>
        <% end %>
</TABLE>
<ul>

<%= link_to "Make request.", new_cat_rental_request_url %>
